
p{
    background-color: #85b6c5;
    border: 5px solid #5e7e8c;
    border-radius: 15px;

    font-family: Georgia, serif;
    transition: color, 0.4s;
    text-align: center;
    height: 30px;
    font-size: 20px;

}
p a{
    user-select: none;
    text-decoration: none;
    outline: none;
    color: white;
    padding: 20px;


}
div{
    padding: 10px;
    height: 50px;
}

p:hover{
    background-color: #5e7e8c;


}